nbtlib==1.12.1
torch==2.1.0
hydra-core==1.1.0.rc1
pydantic
attrs
loguru
tensorboard==2.4.0
matplotlib~=3.7
einops
tqdm
grpcio
test-evocraft-py
click
omegaconf==2.1.0.rc1
ipython==7.23.1
ipywidgets
ipython-genutils==0.2.0
wcwidth
ptyprocess==0.6.0
pytz
requests
torchsummaryX
mpmath
protobuf~=3.20
pandas~=2.0.1
numpy==1.20.3
jupyter